


@model IEnumerable<WebApplication1.Models.Teacher>
@{
    ViewBag.Title = "list";
}

<h2>list</h2>



<p>This page should be showing information about all teachers</p>

<div id="containerlist">

    <nav>
        <a class="navlink" href="/Teacher/New">New Teacher</a>
    </nav>
    <h2>List of Teachers</h2>
    @foreach (var teacher in Model)
    {
        <div class="listitem row">
            <div class="col-md-12"><a href="/Teacher/Show/@teacher.TeacherId">@teacher.TeacherFname @teacher.TeacherLname @teacher.EmployeeNumber @teacher.HireDate @teacher.Salary</a></div>
        </div>
    }
</div>
